---
---

<section id="cronograma" class="dark-1 schedule">
  <div class="features">
    <h2>BOX AFILIADOS</h2>
    <div class="box-afiliados">
      <img src="/img/los-reyes.png" alt="Los Reyes Training Club" />
      <img src="/img/green-horse.png" alt="Green Horse Training Club" />
      <img src="/img/unbroken.png" alt="Unbroken Norte" />
      <img src="/img/rescuer.png" alt="Rescuer" />
    </div>
  </div>
</section>
