<section class="dark-2" id="estandares">
  <div class="features">
    <h2>Estándares</h2>
    <div class="standards-container">
      <div class="standard-card">
        <h3>RX</h3>
        <table class="standards-table">
          <tr>
            <td>Toes to bar</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Pullup</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Chest to bar</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Bar muscle-up</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Ring muscle-up</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Hand stand push up</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Hand stand walk</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Rope climb</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Legless rope climb</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Double unders</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Wall climb</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Clean & Jerk</td>
            <td>90 / 60 kg</td>
          </tr>
          <tr>
            <td>Snatch</td>
            <td>70 / 45 kg</td>
          </tr>
          <tr>
            <td>Dumbbell</td>
            <td>25 / 17.5 kg</td>
          </tr>
          <tr>
            <td>Kettlebell</td>
            <td>24 / 16 kg</td>
          </tr>
          <tr>
            <td>Sandbag</td>
            <td>75 / 50 kg</td>
          </tr>
        </table>
      </div>

      <div class="standard-card">
        <h3>Intermedio</h3>
        <table class="standards-table">
          <tr>
            <td>Toes to bar</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Pullup</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Chest to bar</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Bar muscle-up</td>
            <td>Al menos un atleta</td>
          </tr>
          <tr>
            <td>Ring muscle-up</td>
            <td class="cross">✘</td>
          </tr>
          <tr>
            <td>Hand stand push up</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Hand stand walk</td>
            <td class="cross">✘</td>
          </tr>
          <tr>
            <td>Rope climb</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Legless rope climb</td>
            <td>Al menos un atleta</td>
          </tr>
          <tr>
            <td>Double unders</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Wall climb</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Clean & Jerk</td>
            <td>70 / 45 kg</td>
          </tr>
          <tr>
            <td>Snatch</td>
            <td>50 / 35 kg</td>
          </tr>
          <tr>
            <td>Dumbbell</td>
            <td>22.5 / 15 kg</td>
          </tr>
          <tr>
            <td>Kettlebell</td>
            <td>24 / 16 kg</td>
          </tr>
          <tr>
            <td>Sandbag</td>
            <td>50 / 40 kg</td>
          </tr>
        </table>
      </div>

      <div class="standard-card">
        <h3>Escalado</h3>
        <table class="standards-table">
          <tr>
            <td>Toes to bar</td>
            <td>Knees to elbows</td>
          </tr>
          <tr>
            <td>Pullup</td>
            <td>Banded pull up</td>
          </tr>
          <tr>
            <td>Chest to bar</td>
            <td class="cross">✘</td>
          </tr>
          <tr>
            <td>Bar muscle-up</td>
            <td class="cross">✘</td>
          </tr>
          <tr>
            <td>Ring muscle-up</td>
            <td class="cross">✘</td>
          </tr>
          <tr>
            <td>Hand stand push up</td>
            <td>Pike push up</td>
          </tr>
          <tr>
            <td>Hand stand walk</td>
            <td class="cross">✘</td>
          </tr>
          <tr>
            <td>Rope climb</td>
            <td>Al menos un atleta</td>
          </tr>
          <tr>
            <td>Legless rope climb</td>
            <td class="cross">✘</td>
          </tr>
          <tr>
            <td>Double unders</td>
            <td>Single unders</td>
          </tr>
          <tr>
            <td>Wall climb</td>
            <td class="check">✔</td>
          </tr>
          <tr>
            <td>Clean & Jerk</td>
            <td>40 / 30 kg</td>
          </tr>
          <tr>
            <td>Snatch</td>
            <td>30 / 20 kg</td>
          </tr>
          <tr>
            <td>Dumbbell</td>
            <td>15 / 10 kg</td>
          </tr>
          <tr>
            <td>Kettlebell</td>
            <td>16 / 12 kg</td>
          </tr>
          <tr>
            <td>Sandbag</td>
            <td>30 / 20 kg</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
