<section id="cronograma" class="dark-1">
        <div class="features">
            <h2>CRONOGRAMA</h2> 
            <div class="container">
                <div class="left">
                    <!-- Semana 1 -->
                    <div class="week">
                        <div class="week-title">
                        <img src="img/calendar-date.svg"><span>Primera semana</span>
                        </div>

                        <div class="week-row">
                        <div class="day">Domingo</div>
                        <div class="card-item purple">
                            <div class="item-title card-title">Publicación de WOD:</div>
                            <ul>
                            <li>WOD 1: 19 de abril</li>
                            <li>WOD 2: 3 de Mayo</li>
                            <li>WOD 3: 17 de Mayo</li>
                            <li>WOD 4: 31 de Mayo</li>
                            </ul>
                        </div>
                        </div>
                    </div>

                    <!-- Semana 2 -->
                    <div class="week">
                        <div class="week-title">
                        <img src="img/calendar-date.svg"> <span>Segunda semana</span>
                        </div>

                        <div class="week-row">
                        <div class="day">De lunes a domingo</div>
                        <div class="card-item dark">Plazo para enviar video</div>
                        </div>
                    </div>

                    <!-- Semana 3 -->
                    <div class="week">
                        <div class="week-title">
                        <img src="img/calendar-date.svg"> <span>Tercera semana</span>
                        </div>

                        <div class="week-row">
                        <div class="day">Lunes</div>
                        <div class="card-item dark">Plazo para enviar video</div>
                        </div>

                        <div class="week-row">
                        <div class="day">Martes</div>
                        <div class="card-item dark">Plazo para enviar video</div>
                        </div>

                        <div class="week-row">
                        <div class="day">Miércoles</div>
                        <div class="card-item pink">
                            <div class="card-title">Límite entrega video:</div>
                            <ul>
                            <li>WOD 1: 29 de abril</li>
                            <li>WOD 2: 13 de Mayo</li>
                            <li>WOD 3: 27 de Mayo</li>
                            <li>WOD 4: 10 de Junio</li>
                            </ul>
                        </div>
                        </div>

                        <div class="week-row">
                        <div class="day">Jueves</div>
                        <div class="card-item blue">Revisión del WOD</div>
                        </div>

                        <div class="week-row">
                        <div class="day">Viernes</div>
                        <div class="card-item blue">Revisión del WOD</div>
                        </div>

                        <div class="week-row">
                        <div class="day">Sábado</div>
                        <div class="card-item purple">
                            <div class="card-title">Publicación de resultados:</div>
                            <ul>
                            <li>WOD 1: 2 de Mayo</li>
                            <li>WOD 2: 16 de Mayo</li>
                            <li>WOD 3: 30 de Mayo</li>
                            <li>WOD 4: 13 de Junio</li>
                            </ul>
                        </div>
                        </div>

                        <div class="week-row">
                        <div class="day">Domingo</div>
                        <div class="card-item yellow">
                            <div class="card-title">WOD presencial</div>
                            <strong>14 de Junio</strong>
                        </div>
                        </div>

                    </div>
                </div>
                <!-- Imagen -->
                <div class="right">
                    <img src="img/img-3.jpg" alt="Athlete">
                </div>
            </div>
        </div>
    </section>