---
---

<section id="season" class="hero-season">
  <div class="hero-season-content">
    <h2>La temporada <span class="purple">26.2</span> <br /> está apunto de empezar</h2>
    <span class="season-tag">¡Arrancamos el 19 de Abril!</span>
  </div>
</section>
