<section class="dark-1" id="formato">
  <div class="features">
    <h2>Formato de la liga</h2>
    <div class="grid">
      <div class="card">
        <span class="icon-container"
          ><img src="/img/calendar-date.svg"
        /></span>
        <h3>Competición continua</h3>
        <p>
          Temporadas de 3 meses con enfrentamientos regulares, no solo un
          fin de semana al año.
        </p>
      </div>
      <div class="card">
        <span class="icon-container"><img src="/img/users-01.svg" /></span>
        <h3>Formato por equipos</h3>
        <p>
          Equipos de 2 atletas para fomentar la igualdad y el trabajo en
          equipo.
        </p>
      </div>
      <div class="card">
        <span class="icon-container"><img src="/img/phone-01.svg" /></span>
        <h3>Online + Presencial</h3>
        <p>
          4 jornadas online y 1 jornada presencial final para vivir la
          experiencia en comunidad.
        </p>
      </div>
      <div class="card">
        <span class="icon-container"
          ><img src="/img/lightning-02.svg"
        /></span>
        <h3>Máximo nivel</h3>
        <p>
          WODs pensados para sacar vuestro máximo rendimiento en todas las
          áreas.
        </p>
      </div>
      <div class="card">
        <span class="icon-container"><img src="/img/scales-01.svg" /></span>
        <h3>Puntuación Transparente</h3>
        <p>Sistema de puntos claro con revisión de vídeos por jueces.</p>
      </div>
      <div class="card">
        <span class="icon-container"><img src="/img/star-07.svg" /></span>
        <h3>Gamificación</h3>
        <p>
          Badges digitales, logros individuales y seguimiento de progreso
          personal.
        </p>
      </div>
    </div>
  </div>
</section>
