
<footer>
  <div class="features">
    <div class="col">
      <h4>Timecup League</h4>
      <p>La primera liga online y presencial de Cross Training en formato competitivo. Compite todo el año, no solamente un fin de semana.</p>
    </div>
    <div class="col">
      <h4>Sobre la liga</h4>
      <div class="interest-links">
        <a href="/bases">Bases de la liga</a>
        <a href="/#estandares">Estándares</a>
        <a href="/#como-funciona">¿Cómo funciona?</a>
        <a href="/#app">Inscríbete</a>
      </div>
    </div>
    <div class="col">
      <h4>Contacto</h4>
      <a href="mailto:timecupleague@gmail.com">timecupleague@gmail.com</a>
      <h4>Siguenos en redes</h4>
      <a href="https://www.instagram.com/timecupleague/" target="_blank">
        <img src="/img/instagram.svg" alt="instagram" />
      </a>
    </div>
  </div>

  <div class="footer-secondary">
    <div class="features">
      <p>© 2025 TimeCup League. Todos los derechos reservados.</p>
      <div class="policy">
        <a href="/privacidad" target="_blank">Política de privacidad</a>
        <a href="/condiciones" target="_blank">Términos y condiciones</a>
      </div>
    </div>
  </div>
</footer>