<nav class="navbar">
  <div class="container-left">
    <div class="logo">
      <a href="/">
        <img src="/img/logo-timecup.svg" alt="timecup league" />
      </a>
    </div>
    <ul class="nav-links">
      <li><a href="/#formato">Formato</a></li>
      <li><a href="/#como-funciona">Cómo funciona</a></li>
      <li><a href="/#estandares">Estándares</a></li>
      <li><a href="/#cronograma">Cronograma</a></li>
      <li><a href="/bases">Bases</a></li>
    </ul>
  </div>
  <a href="/#app" class="btn-outline">Inscríbete</a>
</nav>
