---
---

<section id="app" class="hero-app">
        <div class="features">
            <div class="footer-row">
            <div class="app-container">           
                <h2>ÍNSRÍBETE <br> A TRAVÉS DE LA APP</h2>
                <p>Descárgate la app en tu móvil e inscribe a tu equipo.</p>
                <div class="qr-container">
                    <div class="qr-item">
                        <img src="img/qr-apple.png" alt="QR App Store" class="qr">
                        <a href="https://apps.apple.com/es/app/timecupleague/id6756576585" class="btn-secondary" target="_blank"><img src="img/apple.svg">Apple Store</a>
                    </div>                   
                    <div class="qr-item">
                        <img src="img/qr-google.png" alt="QR Google Play" class="qr">
                        <a href="https://play.google.com/store/apps/details?id=com.timecupleague.app&hl=gl" class="btn-secondary" target="_blank"><img src="img/chrome.svg">Google Play</a>
                    </div>

                </div>       
            </div>

            <div class="app-image">
                <img src="img/app.png" alt="Athlete">
            </div>
            </div>

        </div>
    </section>
